<!-- Corpo da página -->
<main class="container">
    <h2 class="mb-4">
      DADOS PARA TRANSFERÊNCIA
    </h2>

    <!-- Formulário dos dados do usuário -->
    <form action="#" method="POST" class="mt-5">
      <div class="row">
        <div class="col-12 jsutify-content-between">
          <button type="submit" class="btn btn-primary float-right w-25">
            <i class="far fa-save"></i>
            Efetuar Transferência
          </button>
          <h3 class="mb-3 h4">Transferência</h3>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="numeroContaT">Número da conta para transferência:</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-user"></i>
                </span>
              </div>
              <input type="text" id="numeroContaT" class="form-control" value="000-00" />
            </div>
          </div>
          
          <div class="form-group">
            <label for="data-saque">Data e Hora da transferência:</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="far fa-calendar-alt"></i>
                </span>
              </div>
              <input type="datetime" id="data-trans" class="form-control" name="dataH_trans" value="07-11-2022  08:36" />
            </div>
          </div>
            <div class="form-group">
              <label for="vTrans">Valor para transferir:</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-money-bill"></i>
                  </span>
                </div>
                <input type="number" class="form-control" name="vTrans" placeholder="R$ 0000,00" />
              </div>
            </div>
          </div>
        </div>
    </form>
  </main>