<main class="container">
    <h2 class="mb-4">
      CONSULTAR SALDO ATUAL
    </h2>

    <div class="form-group">
      <label for="cliente-cpf">Saldo:</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fab fa-slack-hash"></i>
          </span>
        </div>
        <input type="text" id="cliente-saldo" class="form-control" value="R$300,00" readonly />
      </div>
    </div>
    <div class="form-group">
      <label for="cliente-limite">Limite:</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fab fa-slack-hash"></i>
          </span>
        </div>
        <input type="text" id="cliente-limite" class="form-control" value="R$200,00" readonly />
      </div>
    </div>
      <div class="form-group">
        <label for="gerente-nome">Gerente:</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-user"></i>
            </span>
          </div>
          <input type="text" id="gerente-nome" class="form-control" value="Josnei Ornitorrinco da Silva" readonly/>
        </div>
      </div>
  </main>