<main class="container">
  <h2 class="mb-4">
    Meus Dados
  </h2>

  <!-- Formulário dos dados do usuário -->
  <form class="mt-5" #formCliente="ngForm">
    <div class="row">
      <div class="col-12 jsutify-content-between">
        <button type="button" class="btn btn-primary" (click)="salvar()" [disabled]="!formCliente.form.valid">
          <i *ngIf="!loading" class="fa fa-save" aria-hidden="true"></i>
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Alterar Dados
        </button>
        <h3 class="mb-3 h4">Dados Pessoais</h3>
      </div>

      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="cliente-nome">Nome completo:</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-user"></i>
              </span>
            </div>
            <input type="text" name="cliente" id="nome" class="form-control"
                  [(ngModel)]="cliente.nome"
                  #nome="ngModel"
                  minlength="2" required />
          </div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fab fa-slack-hash"></i>
            </span>
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name="cpf" placeholder="CPF" step="1"
              [(ngModel)]="cliente.cpf"
              #cpf="ngModel" minlength="11" readonly/>
          </div>
      </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-at"></i>
            </span>
          </div>
          <input type="email" class="form-control" name="email" placeholder="E-mail de acesso"
                [(ngModel)]="cliente.email"
                #email="ngModel"
                required />

          <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">

            <div [hidden]="!email.errors?.['required']">
              Digite o email do cliente.
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-mobile-alt"></i>
            </span>
          </div>
          <input type="number" class="form-control" name="telefone" placeholder="Telefone (com DDD)"
            [(ngModel)]="cliente.telefone" #telefone="ngModel" />

          <div *ngIf="telefone.errors && (telefone.dirty || telefone.touched)" class="alert alert-danger">

            <div [hidden]="!telefone.errors?.['required']">
              Digite o telefone do cliente.
            </div>
          </div>
        </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-money-bill"></i>
          </span>
        </div>
        <input type="number" class="form-control" name="salario" placeholder="Salário"
          [(ngModel)]="cliente.salario"
          #salario="ngModel" />

        <div *ngIf="salario.errors && (salario.dirty || salario.touched)" class="alert alert-danger">

          <div [hidden]="!salario.errors?.['required']">
            Digite o salario do cliente.
          </div>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-map-marker-alt"></i>
          </span>
        </div>

        <input type="text" class="form-control" id="cep" name="cep" placeholder="00000-000"
          [(ngModel)]="cliente.endereco!.cep"
          #cep="ngModel"
          mask="00000-000"
          numerico required>

        <div *ngIf="cep.errors && (cep.dirty || cep.touched)" class="alert alert-danger">
          <div [hidden]="!cep.errors['required']">
            Digite o CEP do endereço do cliente.
          </div>

        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-map"></i>
          </span>
        </div>
        <input type="text" class="form-control" id="rua" name="rua" placeholder="Endereço (rua, avenida, alameda...)"
          [(ngModel)]="cliente.endereco!.logradouro" #logradouro="ngModel" required />

        <div *ngIf="logradouro.errors && (logradouro.dirty || logradouro.touched)" class="alert alert-danger">
          <div [hidden]="!logradouro.errors['required']">
            Digite o logradouro do endereço do cliente.
          </div>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-map-marked-alt"></i>
          </span>
        </div>
        <input type="number" class="form-control" name="numero" placeholder="Número"
            [(ngModel)]="cliente.endereco!.numero"
            #numero="ngModel" numerico required />
        <div *ngIf="numero.errors && (numero.dirty || numero.touched)" class="alert alert-danger">
          <div [hidden]="!numero.errors['required']">
            Digite o número do endereço do cliente.
          </div>
        </div>
        <input type="text" class="form-control" name="complemento" placeholder="Complemento"
          [(ngModel)]="cliente.endereco!.complemento" #complemento="ngModel" />
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-city"></i>
          </span>
        </div>
        <input type="text" class="form-control" name="cidade" placeholder="Cidade"
          [(ngModel)]="cliente.endereco!.cidade"
          #cidade="ngModel" required>
        <div *ngIf="cidade.errors && (cidade.dirty || cidade.touched)" class="alert alert-danger">
          <div [hidden]="!cidade.errors['required']">
            Digite a cidade do endereço do cliente.
          </div>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-globe-americas"></i>
          </span>
        </div>
        <select type="text" class="form-control" name="estado" placeholder="Estado"
                [(ngModel)]="cliente.endereco!.estado"
                #estado="ngModel" required>
          <option *ngFor="let estado of estados" [value]=estado>{{estado}}</option>
        </select>
        <div *ngIf="estado.errors && (estado.dirty || estado.touched)" class="alert alert-danger">
          <div [hidden]="!estado.errors['required']">
            Selecione o estado do cliente.
          </div>
        </div>
      </div>
    </div>
  </div>
</form>


    <!-- Formulário de alteração de senha -->
    <form action="#" method="POST" class="mt-5">
      <div class="row">
        <div class="col-12 jsutify-content-between">
          <button type="submit" class="btn btn-primary float-right w-25">
            <i class="far fa-save"></i>
            Alterar Senha
          </button>
          <h3 class="mb-3 h4">Alterar Senha</h3>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="cliente-senha-atual">Senha atual:</label>
            <input type="password" id="cliente-senha-atual" class="form-control" name="senha_atual" />
          </div>
          <div class="form-group">
            <label for="cliente-senha-nova1">Nova senha:</label>
            <input type="password" id="cliente-senha-nova1" class="form-control" name="senha_nova1" />
          </div>
          <div class="form-group">
            <label for="cliente-senha-nova2">Repetir nova senha:</label>
            <input type="password" id="cliente-senha-nova2" class="form-control" name="senha_nova2" />
          </div>
        </div>
      </div>
    </form>
</main>
