<!-- retirado alguns itens que precisam estar no ts pra estar aqui -->
<main class="container">
    <h2 class="mb-4">
      EXTRATO
    </h2>

    <div class="well container col-12">
      <form #formExtrato="ngForm">
        <div class="form-group">
          <label for="dataInicio">Data Inicial</label>
          <input type="date" class="form-control" id="dataInicio" name="dataInicio"  required>
        </div>
        <div class="form-group">
          <label for="dataFim">Data Final</label>
          <input type="date" class="form-control" id="dataFim" name="dataFim" required>
        </div>
        <button type="button" class="btn btn-primary"
          [disabled]="!formExtrato.form.valid">
          <i class="fa fa-file-invoice-dollar" aria-hidden="true"></i> Consultar Extrato
        </button>
      </form>

    <!-- Tabela com atendimentos em aberto -->
    <div class="mt-5">

          <table class="table table-hover">
            <thead class="c-thead">
              <tr class="text-center">
                <th scope="col">Data/Hora da Transação</th>
                <th scope="col">Operação</th>
                <th scope="col">Valor</th>
                <th scope="col">Cliente de Origem</th>
                <th scope="col">Cliente de Destino</th>
              </tr>
            </thead>
            <tbody *ngIf="!!transferencias; else listaVazia">
              <tr class="c-clickable text-center" *ngFor="let transferencia of transferencias">
                <td> {{ transferencia.data | date : 'short' : '' : 'pt-BR'}} </td>
                <td>Transferência</td>
                <td>{{ transferencia.valor}}</td>
                <td>{{transferencia.id}}</td>
                <td>{{ transferencia.destino }}</td>
              </tr>

            </tbody>
          </table>
          <ng-template #listaVazia>
            <p>Nenhuma transferência cadastrada</p>
          </ng-template>
        </div>
    </div>
</main>
