  <html lang="pt-BR">
   <!-- <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      BANTADS :: [Trabalho DAC (parte 1)]
    </title>
  </head> -->
  <body>

    <!-- Cabeçalho da página
    <header class="container-fluid bg-dark mb-5">
      <nav class="navbar navbar-expand-lg navbar-dark" role="navigation">
        <a class="navbar-brand" href="index.html">
          <img src="../assets/simboloBancoInvertido.jpg" width="33" height="33" class="d-inline-block align-top" alt="Logo do sistema" />
          <span class="text-white-50 h4 c-title">BANTADS</span>
        </a>
        <div class="container">
          <ul class="navbar-nav text-white">
            <li class="nav-item">
              <a class="nav-link active" href="index.html">Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="cliente-dados.html">Alteração de Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="depositar.html">Depositar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="saque.html">Saque</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="transferencia.html">Trânsferência</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="saldo.html">Consulta de Saldo atual</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="extrato.html">Consulta de extrato</a>
            </li>
          </ul>
        </div>
        <div class="form-inline">
          <a href="../index.html" class="btn btn-sm btn-outline-danger text-white my-2 my-sm-0">
            <i class="fas fa-door-open"></i>
            Sair
          </a>
        </div>
      </nav>
    </header>
     -->

    <!-- Corpo da página -->
    <main class="container">
      <h2 class="mb-4">
        Bem-vindo(a), <strong>[nome do cliente]</strong>
      </h2>
      <div class="row">
        <div class="form-group">
          <label for="cliente-telefone">Saldo Atual:</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-money-bill"></i>
              </span>
            </div>
            <input type="number" class="form-control" name="salario" placeholder="Salário" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="card-deck" style="width: 180rem;">
          <div class="card border border-primary text-primary">
            <div class="card-body text-center">
              <p class="card-text display-4">
                <strong>
                    <i class="fas fa-user"></i>
                </strong>
              </p>
              <p class="card-text h8">
                Alterar<br> perfil
              </p>
              <a href="cliente-dados.html" class="stretched-link h-0"></a>
            </div>
          </div>

          <div class="card border border-primary text-primary">
            <div class="card-body text-center">
              <p class="card-text display-4">
                <i class="fas fa-download"></i>
              </p>
              <p class="card-text h7">
                Depositar
              </p>
              <a href="depositatar.html" class="stretched-link h-0"></a>
            </div>
          </div>

          <div class="card border border-primary text-primary">
            <div class="card-body text-center">
              <p class="card-text display-4">
                <i class="fas fa-money-bill"></i>
              </p>
              <p class="card-text h8">
                Saque
              </p>
              <a href="saque.html" class="stretched-link h-0"></a>
            </div>
          </div>
          <div class="card border border-primary text-primary">
            <div class="card-body text-center">
              <p class="card-text display-4">
                <i class="fas fa-share"></i>
              </p>
              <p class="card-text h8">
                Transferência
              </p>
              <a href="transferencia.html" class="stretched-link h-0"></a>
            </div>
          </div>

          <div class="card border border-primary text-primary">
            <div class="card-body text-center">
              <p class="card-text display-4">
                <i class="fas fa-dollar-sign"></i>
              </p>
              <p class="card-text h8">
                Saldo
              </p>
              <a href="saldo.html" class="stretched-link h-0"></a>
            </div>
          </div>

          <div class="card border border-primary text-primary">
            <div class="card-body text-center">
              <p class="card-text display-4">
                <i class="fa fa-list-alt"></i>
              </p>
              <p class="card-text h8">
                Extrato
              </p>
              <a href="extrato.html" class="stretched-link h-0"></a>
            </div>
          </div>
        </div>
      </div>
      <div></div>
    </main>
  </body>
</html>