<!DOCTYPE html>
<html lang="pt-BR">
  <body>


    <!-- Cabeçalho da página -->
    


    <!-- Corpo da página -->
    <main class="container">
      <h2 class="mb-4">
        Cadastro de Gerentes
      </h2>

      <!-- Botão para abertura de novo atendimento -->
      <a [routerLink]="['/adm/criar']" href="" class="btn btn-lg btn-primary">
        <i class="fa fa-plus"></i>
        Novo Colaborador
      </a>

      <!-- Tabela com atendimentos em aberto -->
      <div class="mt-5">

        <table class="table table-striped table-bordered table-hover">
          <tbody>
              <tr>
                  <th>ID</th>
                  <th>Nome</th>
                  <th>CPF</th>
                  <th>Email</th>
                  <th>Telefone</th>
                  <th class="text-center">
                      
                  </th>
              </tr>
              <tr *ngFor="let gerente of gerentes">
                  <td>{{gerente.id}} </td>
                  <td>{{gerente.nome}} </td>
                  <td> {{gerente.cpf}} </td>
                  <td> {{gerente.email! }} </td>
                  <td> {{gerente.telefone }}</td>
      
                  <td class="text-center" style="width: 150px">
                  <button type="button" class="btn btn-sm btn-success"(click)="abrirModal(gerente)"><i class="fa fa-eye" aria-hidden="true"></i> </button>
                  <a href="#" title="Editar" alt="Editar" [routerLink]="['/adm/editar',gerente.id]" class="btn btn-sm btn-info">
                      <i class="fa fa-edit" aria-hidden="true"></i> 
                  </a>
                  <a href="#" title="Remover" alt="Remover" class="btn btn-sm btn-danger"
                  (click)="remover($event,gerente)">
                      <i class="fas fa-trash-alt" aria-hidden="true"></i> 
                  </a>
              </td>
          </tr>
      </tbody>
      </table>

      </div>

    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/scripts.js"></script>
  

