<!DOCTYPE html>
<html lang="pt-BR">
  <body>

    <!-- Cabeçalho da página -->
    
    <!-- Corpo da página -->
    <main class="container">
      <h2 class="mb-4">
        Gerente #{{gerente.id}} ({{ gerente.nome}})
      </h2>

      <!-- Formulário dos dados do usuário -->
      <form #formAdm="ngForm">
        <div class="row">
          <div class="col-12 jsutify-content-between">
            <button type="submit" class="btn btn-primary float-right w-25"
            (click)="editar()"
            [disabled]="!formAdm.form.valid">
              <i class="far fa-save"></i>
              Salvar
            </button>
            <h3 class="mb-3 h4">Dados Cadastrais</h3>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="cliente-nome">Nome completo:</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
                <input type="text" id="gerente-nome" id="nome" name="nome" class="form-control" value="" [(ngModel)]="gerente.nome" #nome="ngModel" minlength="10" required/>
                
              </div>
              <div *ngIf="nome.errors && (nome.dirty||nome.touched)" class="alert alert-danger">
                <div [hidden]="!nome.errors['required'] " > Digite o nome do gerente. </div>
                <div [hidden]="!nome.errors['minlength'] "> O nome deve conter ao menos 10 caracteres. </div>
              </div>
            </div>
            <div class="form-group">
              <label for="cliente-cpf">CPF:</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fab fa-slack-hash"></i>
                  </span>
                </div>
                <input type="text" id="cpf" name="cpf" class="form-control" value="" [(ngModel)]="gerente.cpf" #cpf="ngModel" minlength="11" required />
                
              </div>
              <div *ngIf="cpf.errors && (nome.dirty||nome.touched)" class="alert alert-danger">
                <div [hidden]="!cpf.errors['required'] " > Digite o CPF. </div>
                <div [hidden]="!cpf.errors['minlength'] "> Digite corretamente o CPF. </div>
              </div>
            </div>
            <div class="form-group">
              <label for="cliente-data-nasc">Data de nascimento:</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="far fa-calendar-alt"></i>
                  </span>
                </div>
                <input type="text" class="form-control" id="data" name="data" [(ngModel)]="gerente.dataNascimento"
                #dataNascimento="ngModel" mask="d0/M0/0000"
                required/>
                
              </div>
              <div *ngIf="dataNascimento.errors && (dataNascimento.dirty|| dataNascimento.touched)"
                class="alert alert-danger">
                <div [hidden]="!dataNascimento.errors['required']">Digite a data de nascimento da pessoa.
                  
                </div>
                </div>
            </div>
            <div class="form-group">
              <label for="cliente-email">Email de acesso:</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-at"></i>
                  </span>
                </div>
                <input type="text" id="email" name="email" class="form-control" value="" [(ngModel)]="gerente.email" #email="ngModel" required  />
                
              </div>
              <div *ngIf="email.errors && (email.dirty||email.touched)" class="alert alert-danger">
                <div [hidden]="!email.errors['required'] " > Digite o Email. </div>
            </div>
            </div>
            <div class="form-group">
              <label for="cliente-telefone">Telefone de contato:</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-mobile-alt"></i>
                  </span>
                </div>
                <input type="text" id="telefone" name="telefone" class="form-control" value="" [(ngModel)]="gerente.telefone" #telefone="ngModel" required/>
                
              </div>
            </div>
            <div *ngIf="telefone.errors && (telefone.dirty||telefone.touched)" class="alert alert-danger">
              <div [hidden]="!telefone.errors['required'] " > Digite o telefone. </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="cliente-cep">CEP:</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-map-marker-alt"></i>
                  </span>
                </div>
                <input type="text" id="cep" name="cep" class="form-control" value="" [(ngModel)]="endereco.cep" #cep="ngModel" required/>
                
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button" id="buscar-cep">
                    Buscar CEP
                  </button>
                </div>

              </div>
              <div *ngIf="cep.errors && (cep.dirty||cep.touched)" class="alert alert-danger">
                <div [hidden]="!cep.errors['required'] " > Digite o CEP. </div>
              </div>
            </div>
            <div class="form-group">
              <label for="cliente-rua">Endereço:</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-map"></i>
                  </span>
                </div>
                <input type="text" id="cliente-rua" class="form-control" name="rua" value="" readonly />
              </div>
            </div>
            <div class="row">
              <div>
                <div class="form-group">
                  <label for="cliente-complemento">Complemento:</label>
                  <input type="text" id="cliente-complemento" class="form-control" name="complemento" value="" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="cliente-cidade">Cidade:</label>
              <input type="text" id="cliente-cidade" class="form-control" name="cidade" value="" readonly/>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="cliente-estado">Estado:</label>
                  <input type="text" id="cliente-estado" class="form-control" name="estado" value="" readonly/>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="cliente-pais">País:</label>
                  <input type="text" id="cliente-pais" class="form-control" value="" readonly/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <hr>
      <!-- Tabela de clientes -->
      <div class="mt-5">
      <h3 class="mb-3 h4">
        Tabela de Clientes
      </h3>
        <table class="table table-hover">
          <thead class="c-thead">
            <tr class="text-center">
              <th scope="col">Conta nº</th>
              <th scope="col">Nome</th>
              <th scope="col">CPF</th>
              <th scope="col">E-mail</th>
              <th scope="col">Telefone</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <th scope="row">809</th>
              <td class="text-left">Josnei da Silva Peixoto</td>
              <td>123.456.789-10</td>
              <td>josnei1976@gmail.com</td>
              <td>99988-8777</td>


            </tr>
            <tr class="text-center">
              <th scope="row">820</th>
              <td class="text-left">Josnete Claudete</td>
              <td>111.222.333-44</td>
              
              <td>josclau@hotmail.com</td>
              <td>99988-8777</td>


            </tr>
            <tr class="text-center">
              <th scope="row">822</th>
              <td class="text-left">Aurélio Dicionários</td>
              <td>444.555.666-77</td>
              
              <td>audic@gmail.com</td>
              <td>99988-8777</td>

 
            </tr>
            <tr class="text-center">
              <th scope="row">829</th>
              <td class="text-left">Darti Veiderson</td>
              <td>777.888.999-00</td>
              
              <td>sithlord@gmail.com</td>
              <td>99988-8777</td>


            </tr>
            <tr class="text-center">
              <th scope="row">830</th>
              <td class="text-left">Milkicheickson Ostentação</td>
              <td>098.765.432-10</td>
              
              <td>Milky@gmail.com</td>
              <td>99988-8777</td>


            </tr>
            <tr class="text-center">
              <th scope="row">832</th>
              <td class="text-left">Dilermano Júnior</td>
              <td>090.871.219-01</td>
              <td>Diljr@gmail.com</td>
              <td>99988-8777</td>


            </tr>
            <tr class="text-center">
              <th scope="row">834</th>
              <td class="text-left">Samuela Fisher</td>
              <td>123.321.132-31</td>
              <td>Sam27@gmail.com</td>
              <td>99988-8777</td>

            </tr>
          </tbody>
        </table>
      </div>
      <hr>
      <!-- Formulário de alteração de senha -->
      <form action="#" method="POST" class="mt-5">
        <div class="row">
          <div class="col-12 jsutify-content-between">
            <button type="submit" class="btn btn-primary float-right w-25">
              <i class="far fa-save"></i>
              Alterar
            </button>
            <h3 class="mb-3 h4">Alterar Senha</h3>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="cliente-senha-atual">Senha atual:</label>
              <input type="password" id="cliente-senha-atual" class="form-control" name="senha_atual" />
            </div>
            <div class="form-group">
              <label for="cliente-senha-nova1">Nova senha:</label>
              <input type="password" id="cliente-senha-nova1" class="form-control" name="senha_nova1" />
            </div>
            <div class="form-group">
              <label for="cliente-senha-nova2">Repetir nova senha:</label>
              <input type="password" id="cliente-senha-nova2" class="form-control" name="senha_nova2" />
            </div>
          </div>
        </div>
      </form>
    </main>

    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/scripts.js"></script>
  </body>
</html>
