<!DOCTYPE html>
<html lang="pt-BR">
  <body>

        <!-- Cabeçalho da página -->
       

    <!-- Corpo da página -->
    <main class="container">
      <h2 class="mb-4">
        Novo Funcionário/Gerente 
      </h2>

      <!-- Formulário dos dados do usuário -->
      <form action="colaboradores.html" method="POST" class="mt-5">
        <div class="row">
          <div class="col-12 jsutify-content-between">
            <button type="submit" class="btn btn-primary float-right w-25">
              <i class="far fa-save"></i>
              Salvar
            </button>
            <h3 class="mb-3 h4">Dados Cadastrais</h3>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="cliente-nome">Nome completo:</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
                <input type="text" id="cliente-nome" class="form-control" value="" />
              </div>
            </div>
            <div class="form-group">
              <label for="cliente-cpf">CPF:</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fab fa-slack-hash"></i>
                  </span>
                </div>
                <input type="text" id="cliente-cpf" class="form-control" value=""  />
              </div>
            </div>
            <div class="form-group">
              <label for="cliente-data-nasc">Data de nascimento:</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="far fa-calendar-alt"></i>
                  </span>
                </div>
                <input type="date" id="cliente-data-nasc" class="form-control" name="data_nasc" value="" />
              </div>
            </div>
            <div class="form-group">
              <label for="cliente-email">Email de acesso:</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-at"></i>
                  </span>
                </div>
                <input type="email" id="cliente-email" class="form-control" value="" />
              </div>
            </div>
            <div class="form-group">
              <label for="cliente-telefone">Telefone de contato:</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-mobile-alt"></i>
                  </span>
                </div>
                <input type="text" id="cliente-telefone" class="form-control" value="" />
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="cliente-cep">CEP:</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-map-marker-alt"></i>
                  </span>
                </div>
                <input type="text" id="cliente-cep" class="form-control" name="cep" value="" />
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button" id="buscar-cep">
                    Buscar CEP
                  </button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="cliente-rua">Endereço:</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-map"></i>
                  </span>
                </div>
                <input type="text" id="cliente-rua" class="form-control" name="rua" value="" readonly />
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="cliente-numero">Endereço:</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-map-marked-alt"></i>
                      </span>
                    </div>
                    <input type="number" id="cliente-numero" class="form-control" name="numero" value="" />
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="cliente-complemento">Complemento:</label>
                  <input type="text" id="cliente-complemento" class="form-control" name="complemento" value="" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="cliente-cidade">Cidade:</label>
              <input type="text" id="cliente-cidade" class="form-control" name="cidade" value="" />
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="cliente-estado">Estado:</label>
                  <input type="text" id="cliente-estado" class="form-control" name="estado" value="" />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="cliente-pais">País:</label>
                  <input type="text" id="cliente-pais" class="form-control" value=""/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <hr>
      
      
      <hr>
  
    </main>

    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/scripts.js"></script>
  </body>
</html>
