
    <!-- Cabeçalho da página -->
    <header class="container-fluid bg-dark mb-5">
      <nav class="navbar navbar-expand-lg navbar-dark" role="navigation">
        <li *ngIf="usuarioLogado.perfil=='CLIENTE'" class="nav-item">
            <a class="navbar-brand" href="#" routerLink="/clientes">
            <img src="../assets/simboloBancoInvertido.jpg" width="33" height="33" class="d-inline-block align-top" alt="Logo do sistema" />
            <span class="text-white-50 h4 c-title">BANTADS</span>
            </a>
            <div class="container">
                <ul class="navbar-nav text-white">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" routerLink="/clientes">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="clientes/cliente-editar">Alteração de Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="depositar.html">Depositar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="saque.html">Saque</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="transferencia.html">Trânsferência</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="saldo.html">Consulta de Saldo atual</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="extrato.html">Consulta de extrato</a>
                    </li>
                </ul>
            </div>
        </li>
        <div *ngIf="usuarioLogado" class="form-inline">
          <a class="btn btn-sm btn-outline-danger text-white my-2 my-sm-0"
            href="#" (click)="logout()">
                <i class="fas fa-door-open"></i>
                Sair
          </a>
        </div>
      </nav>
    </header>

<router-outlet></router-outlet>