

<div class="modal-header">
   
    <button type="button" class="close" aria-label="Fechar"
    (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
    </button>
    <h5 class="modal-title" id="exampleModalLabel">Recusar</h5>
    </div>
      <div class="modal-body">
        <form #formRecusar = "ngForm">
          <div class="form-group" hidden>
            <label for="recipient-name" class="col-form-label">{{cliente.id}} </label>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nome: {{ cliente.nome }} </label>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Motivo:</label>
            <input type="text" class="form-control" id="nome" name="motivoReprovacao" [(ngModel)]="cliente.conta!.motivoReprovacao" #motivoReprovacao="ngModel" minlength="2" required> 
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark"
        (click)="recusar()">Recusar</button>
        </div>
  


<script src="../js/bootstrap.min.js"></script>
<script src="../js/scripts.js"></script> 

<!-- // [(ngModel)]="cliente.conta.motivoReprovacao"
            #motivoReprovacao = "ngModel"
          #formRecusar="ngForm" -->