
<html lang="pt-BR">
 
<body>

   
  <!-- Corpo da página -->
  <main>
  <div class="container">
    <h2 class="mb-4">
     Listar TOP 5 Clientes
    </h2>

    <!-- Filtro de visualização de atendimentos -->
   <!-- <div class="mt-3">
      <div class="form-inline p-2">
        <label for="filtro-atendimentos">
          <i class="fas fa-filter"></i>
          <span class="mx-2">Visualizar:</span>
        </label>
        <select id="filtro-atendimentos" class="form-control">
          <option value="todos">Todos</option>
          <option value="abertos">Abertos</option>
          <option value="vencidos">Vencidos</option>
          <option value="fechados">Fechados</option>
        </select>
      </div>-->

      <!-- Tabela de atendimentos -->
      <table class="table table-hover">
      
        <thead class="c-thead">
          <tr class="text-center">
            
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Cidade</th>
            <th scope="col">Estado</th>
            <th scope="col">Saldo</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes" (click)="abrirModalAcessarCliente(cliente)" class="text-center">
            
            <td>{{cliente.nome}}</td>
            <td>{{cliente.cpf}}</td>
            <td>{{cliente.endereco?.cidade}}</td>
            <td>{{cliente.endereco?.estado}}</td>
            <td>{{cliente.conta?.saldo}}</td>
                    
          </tr>


         
       
        </tbody>
      </table>
      <p *ngIf ="clientes.length==0"> Nenhuma conta pendente de aprovação</p>


    </div>


  </main>

  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/scripts.js"></script>
</body>
</html>
