
<html lang="pt-BR">
 
<body>

  
  <header class="container-fluid bg-dark mb-5">
    <nav class="navbar navbar-expand-lg navbar-dark" role="navigation">
      <a class="navbar-brand" href="index.html">
        <img src="../assets/simboloBancoInvertido.jpg" width="33" height="33" class="d-inline-block align-top" alt="Logo do sistema" />
        <span class="text-white-50 h4 c-title">BANTADS</span>
      </a>
      <div class="container">
        <ul class="navbar-nav text-white">
          <li class="nav-item">
            <a class="nav-link active" href="#" [routerLink]="['/gerente/home']">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"[routerLink]="['/gerente/consultarCliente']">Consultar Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/gerente/listarTodosClientes']">Consultar Todos os Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/gerente/top5']">TOP 5</a>
          </li>
          
        </ul>
      </div>
      <div class="form-inline">
        <a href="../index.html" class="btn btn-sm btn-outline-danger text-white my-2 my-sm-0">
          <i class="fas fa-door-open"></i>
          Sair
        </a>
      </div>
    </nav>
  </header>

  <!-- Corpo da página -->
  <main>
  <div class="container">
    <h2 class="mb-4">
     Listar TOP 5 Clientes
    </h2>

    <!-- Filtro de visualização de atendimentos -->
   <!-- <div class="mt-3">
      <div class="form-inline p-2">
        <label for="filtro-atendimentos">
          <i class="fas fa-filter"></i>
          <span class="mx-2">Visualizar:</span>
        </label>
        <select id="filtro-atendimentos" class="form-control">
          <option value="todos">Todos</option>
          <option value="abertos">Abertos</option>
          <option value="vencidos">Vencidos</option>
          <option value="fechados">Fechados</option>
        </select>
      </div>-->

      <!-- Tabela de atendimentos -->
      <table class="table table-hover">
      
        <thead class="c-thead">
          <tr class="text-center">
            
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Cidade</th>
            <th scope="col">Estado</th>
            <th scope="col">Saldo</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes" (click)="abrirModalAcessarCliente(cliente)" class="text-center">
            
            <td>{{cliente.nome}}</td>
            <td>{{cliente.cpf}}</td>
            <td>{{cliente.endereco?.cidade}}</td>
            <td>{{cliente.endereco?.estado}}</td>
            <td>{{cliente.conta?.saldo}}</td>
                    
          </tr>


         
       
        </tbody>
      </table>
      <p *ngIf ="clientes.length==0"> Nenhuma conta pendente de aprovação</p>


    </div>


  </main>

  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/scripts.js"></script>
</body>
</html>
